# How to create Python Pandas DataFrame

In [1]:
import pandas as pd

In [2]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst= ['a','b','c']
lst

['a', 'b', 'c']

In [4]:
df1 = pd.DataFrame(lst)
df1

   0
0  a
1  b
2  c

In [5]:
lst2 = [[1,2,3],[4,5,6],[4,5,6]]
lst2

[[1, 2, 3], [4, 5, 6], [4, 5, 6]]

In [6]:
df2 = pd.DataFrame(lst2)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  4  5  6

In [7]:
df3 = pd.DataFrame({'id':[1,2,3]})
df3

   id
0   1
1   2
2   3

In [8]:
df4 = pd.DataFrame({'id' : [1,2,3,4], 'SN':[101,102,103]})
df4

ValueError: All arrays must be of the same length

In [9]:
df4 = pd.DataFrame({'id' : [1,2,3,4], 'SN':[101,102,103,104]})
df4

   id   SN
0   1  101
1   2  102
2   3  103
3   4  104

In [10]:
ls_dict = [{'a' : 1, 'b' : 2}, {'a' : 1, 'b' : 4}]
print(ls_dict)

[{'a': 1, 'b': 2}, {'a': 1, 'b': 4}]

In [11]:
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  1  4

In [12]:
ls_dict2 = [{'a' : 1, 'b' : 2}, {'a' : 1, 'b' : 4, 'c' : 5}]
print(ls_dict2)

[{'a': 1, 'b': 2}, {'a': 1, 'b': 4, 'c': 5}]

In [13]:
df5 = pd.DataFrame(ls_dict2)
df5

   a  b    c
0  1  2  NaN
1  1  4  5.0

In [14]:
dict_sr = {'Id' : pd.Series([1,2,3]), 'SN' : [111,222,333]}
dict_sr

{'Id': 0    1
 1    2
 2    3
 dtype: int64,
 'SN': [111, 222, 333]}

In [15]:
df6 = pd.DataFrame(dict_sr)
df6

   Id   SN
0   1  111
1   2  222
2   3  333

In [16]:
dict_sr2 = {'Id' : pd.Series([1,2,3])}
df7= pd.DataFrame(dict_sr2)
df7

   Id
0   1
1   2
2   3